.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  }

  @media (max-width: 576px) {
    .navbar-nav {
      align-items: flex-end; /* Alinha o texto à direita */
    }
  }
  